<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
<title>Metamuna</title>
<style type="text/css">
@import url(http://fonts.googleapis.com/css?family=Damion);
</style>
<link href="../stylesheets/style3.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="http://current.bootstrapcdn.com/bootstrap-v204/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>


<style type="text/css">
#apDiv1 {
	position:absolute;
	width:824px;
	height:309px;
	z-index:1;
	left: 347px;
	top: 203px;
}
#apDiv2 {
	position:absolute;
	width:650px;
	height:115px;
	z-index:2;
	left: 423px;
	top: 358px;
}

#apDiv4 {
	position:absolute;
	width:508px;
	height:42px;
	z-index:2;
	left: 468px;
	top: 358px;
}
#apDiv5 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:1;
	left: 528px;
	top: 157px;
}

body {
	background-image: url(../images/subtle_stripes.png);
	background-repeat: repeat;
}
#gurl {
	position:absolute;
	width:131px;
	height:293px;
	z-index:3;
	left: 361px;
	top: 515px;
}
#dood {
	position:absolute;
	width:122px;
	height:306px;
	z-index:4;
	left: 580px;
	top: 507px;
}
#gurl2 {
	position:absolute;
	width:186px;
	height:301px;
	z-index:5;
	left: 868px;
	top: 512px;
}
</style>


</head>




<body>
<a id="gurl" href="#" rel="popover" data-original-title="Chick:" data-content="Metamune is a virtual swapmeet, in real time"><img src="../images/people.png" width="111" height="299" alt="mmgurl" /></a>
<script>
  $("a[rel=popover]").popover({placement:'top' });

</script>


<a id="gurl2" href="#" rel="popover" data-original-title="Chick:" data-content="Craigslist is so mainstream"><img src="../images/people3.png" width="111" height="299" alt="mmgurl" /></a>
<script>
  $("a[rel=popover]").popover({placement:'top' });

</script>

<div class="wrapper">
  <div id="apDiv3"></div>
<center><h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<p><%= f.label :name %><br />
<%= f.text_field :name %></p>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up",:class => 'button pink' %></div>
<% end %>

<%= render "devise/shared/links" %>
</center>

</style>
<center><div id="apDiv1"><img src="../images/metamuna.png" alt="metamune" width="600" height="160" align="middle" /></div></center>


</div>
</div>
<div class="push"></div>
</div>

<a id="dood" href="#" rel="popover" data-original-title="Dude:" data-content="Can I find an Iphone 4S?"><img src="../images/people2.png" width="111" height="306" alt="dood" /></a>
<script>
  $("a[rel=popover]").popover({placement:'right' });

</script>


</body>






